<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="content">
        <div id="newnotebutton">
                <%= link_to Document.new, method: :post, remote: true do %>
                <button class="btn btn-primary">NEW NOTE</button>
                <% end %>
        </div>
        <div id="documentform" style="display:none"></div>

        <div class="notes">
          <ul id="documents" data-update-url="<%= sort_documents_url %>">
            <% @documents.each do |document| %>
            <%= content_tag_for :li, document do %>
            <%= render document %>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>