 <%= link_to edit_document_path(document), remote: true do %>
  <h4><%= document.title %></h4>
   <p><small>
  	<%= sanitize truncate(document.content, length: 140) %>
  	</small></p>
 <% end %>
 <span><%= link_to document, method: :delete, remote: true  do %>
   <i class="icon-remove-sign"></i>
 <% end %></span>