 <%= link_to edit_document_path(document), remote: true do %>
   <p><h4>
  	<%= sanitize truncate(document.content, length: 140) %>
  	</h4></p>
 <% end %>
 <span><%= link_to document, method: :delete, remote: true  do %>
   <i class="icon-remove-sign"></i>
 <% end %></span>