<footer class="footer">
      <div class="row-fluid">
        <div class="span4">
      <div id="footerlogo">
        <h1>
          <a href="http://github.com/adamrobbie">
            <span>Adam</span>creations
          </a>
        </h1>
      </div>
    </div>
      <div class="span4">
        <center h2>
          COPYRIGHT &copy 2012
        </h2>
      </div>
      <div class="span4">
        <nav>
          <ul>
            <li><%= link_to about_path do %>
            <i class="icon-info-sign icon-white"></i>About
            <% end %>
            </li>
            <li><%= link_to contact_path do %>
              <i class="icon-envelope icon-white"></i>Contact
              <% end %>
            </li>
            <li><%= link_to help_path do %>
              <i class="icon-question-sign icon-white"></i>Help
              <% end %>
            </li>
          </ul>
        </nav>
    </div>
  </div>
</div>
</footer>