<header class="row-fluid">
    <% if user_signed_in? %>
        <div class="span4">
         <%= link_to "Artemis", root_path, id: "logo" %>
        </div>
   <div class="span8">
    <nav>
        <ul class="nav pull-right">
            <li><%= link_to('Settings', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>
        </ul>
    </nav>
</div>
    <% end %>
</header>
